<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ExaminationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Examination">
        <id column="exam_id" property="examId" />
        <result column="batch_id" property="batchId" />
        <result column="exam_room" property="examRoom" />
        <result column="campus" property="campus" />
        <result column="address" property="address" />
        <result column="from_time" property="fromTime" />
        <result column="end_time" property="endTime" />
    </resultMap>

</mapper>
