<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.PersonnelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Personnel">
        <id column="username" property="username" />
        <result column="name" property="name" />
        <result column="unit" property="unit" />
        <result column="gender" property="gender" />
        <result column="edu_background" property="eduBackground" />
        <result column="phone" property="phone" />
        <result column="backup_phone" property="backupPhone" />
        <result column="photo" property="photo" />
        <result column="address" property="address" />
    </resultMap>

</mapper>
