<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.SignupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Signup">
        <id column="exam_id" property="examId"/>
        <result column="username" property="username"/>
        <result column="approval_status" property="approvalStatus"/>
        <result column="intended_campus" property="intendedCampus"/>
        <result column="reson" property="reson"/>
        <result column="way" property="way"/>
        <result column="name" property="name"/>
        <result column="is_out" property="isOut"/>
        <result column="is_comfirm" property="isComfirm"/>
    </resultMap>
    <resultMap id="NamelistMap" type="com.example.mybatisplus.model.domain.FinalLiist">
        <association property="personnel" javaType="com.example.mybatisplus.model.domain.Personnel">
            <id column="username" property="username" />
            <result column="name" property="name" />
            <result column="unit" property="unit" />
            <result column="gender" property="gender" />
            <result column="phone" property="phone" />
    </association>
        <association property="examination" javaType="com.example.mybatisplus.model.domain.Examination">
            <id column="exam_id" property="examId" />
            <result column="batch_id" property="batchId" />
            <result column="exam_room" property="examRoom" />
            <result column="campus" property="campus" />
            <result column="address" property="address" />
            <result column="from_time" property="fromTime" />
            <result column="end_time" property="endTime" />

        </association>
    </resultMap>

    <select id="getExamineSignUp" resultMap="BaseResultMap">
        SELECT s.*
        FROM signup s
                 JOIN personnel p_user ON s.username = p_user.username
        WHERE p_user.username IN (SELECT username
                                  FROM personnel
                                  WHERE s.is_out = 0 AND unit = (SELECT unit FROM personnel WHERE username = #{username}))
          AND s.approval_status = #{usertype}
    </select>
    <select id="getExamineSignUpByKeyword" resultMap="BaseResultMap">
        SELECT s.*
        FROM signup s
                 JOIN personnel p_user ON s.username = p_user.username
        WHERE p_user.username IN (SELECT username
                                  FROM personnel
                                  WHERE s.is_out = 0 AND unit = (SELECT unit FROM personnel WHERE username = #{username}))
          AND s.approval_status = #{usertype} AND p_user.username = #{keyword}
    </select>
    <select id="getDisapprovedList" resultMap="BaseResultMap">
        SELECT s.*
        FROM signup s
                 JOIN personnel p_user ON s.username = p_user.username
        WHERE p_user.username IN (SELECT username
                                  FROM personnel
                                  WHERE s.is_out = 1 AND unit = (SELECT unit FROM personnel WHERE username = #{username}))
          AND s.approval_status = #{usertype}
    </select>
    <select id="getDisapprovedListByKeyword" resultMap="BaseResultMap">
    SELECT s.*
    FROM signup s
             JOIN personnel p_user ON s.username = p_user.username
    WHERE p_user.username IN (SELECT username
                              FROM personnel
                              WHERE s.is_out = 1 AND unit = (SELECT unit FROM personnel WHERE username = #{username}))
      AND s.approval_status = #{usertype} AND p_user.username = #{keyword}
</select>
    <select id="getFinalNameList" resultMap="NamelistMap">
        SELECT
               p.username , p.unit , p.name ,p.gender,p.phone,-- 添加 personnel 表的需要显示的属性
               e.exam_id, e.batch_id,e.exam_room ,e.campus ,
               e.address ,e.from_time ,e.end_time-- 添加 examination 表的需要显示的属性
        FROM signup s
                 LEFT JOIN personnel p ON s.username = p.username
                 LEFT JOIN examination e ON s.exam_id = e.exam_id
            WHERE s.approval_status = 5
    </select>
    <select id="getFinalNameListByKeyword" resultMap="NamelistMap">
        SELECT
            p.username , p.unit , p.name ,p.gender,p.phone,-- 添加 personnel 表的需要显示的属性
            e.exam_id, e.batch_id,e.exam_room ,e.campus ,
            e.address ,e.from_time ,e.end_time-- 添加 examination 表的需要显示的属性
        FROM signup s
                 LEFT JOIN personnel p ON s.username = p.username
                 LEFT JOIN examination e ON s.exam_id = e.exam_id
        WHERE s.approval_status = 5 AND p.username LIKE CONCAT('%', #{keyword}, '%')
    </select>
    <select id="getComfirmList" resultMap="BaseResultMap">
        select *
        from signup
        where username=#{username} and approval_status=5 and is_comfirm=0;
    </select>
    <select id="getAllComfirms" resultMap="BaseResultMap">
        select *
        from signup
        where username=#{username} and approval_status=5
    </select>
    <select id="getFinalNameListdto" resultType="com.example.mybatisplus.model.dto.PersonnelExaminationDTO">
        SELECT
            p.username , p.unit , p.name ,p.gender,p.phone,-- 添加 personnel 表的需要显示的属性
            e.exam_id, e.exam_room ,e.from_time ,e.end_time-- 添加 examination 表的需要显示的属性
        FROM signup s
                 LEFT JOIN personnel p ON s.username = p.username
                 LEFT JOIN examination e ON s.exam_id = e.exam_id
        WHERE s.approval_status = 5
    </select>
</mapper>
